<head>
    <script src="menu2.js" defer></script>
    <link rel="stylesheet" type="text/css" href="menu2.css">
</head>

<body>
    <div class="mainContainer">
        <div class="inputContainer">
            <div class="form-group">
                <label for="theme">Theme:</label>
                <select id="theme" name="theme">
                    <option value="themePurple">Purple</option>
                    <option value="themeHackerman">Hackerman</option>
                    <option value="themeAbascal">Abascal</option>
                </select>
            </div>
            <div class="form-group">
                <label for="color">Highlighted Color:</label>
                <input type="color" id="color" name="color" value="#000000">
            </div>
        </div>
        <div class="customCSSContainer">
            <label for="customCSSContainer">Custom highlighted CSS:</label>
            <textarea id="customCSSContainer"></textarea>
        </div>
        <div class="iconsContainer">
            <div class="icon" id="close">
                <svg xmlns="http://www.w3.org/2000/svg" width="80%" viewBox="0 0 50 50">
                    <line x1="10" y1="10" x2="40" y2="40" stroke="#d53a9d" stroke-width="4" />
                    <line x1="10" y1="40" x2="40" y2="10" stroke="#d53a9d" stroke-width="4" />
                </svg>
            </div>
            <div class="icon" id="home">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="#d53a9d"
                        d="m21.743 12.331l-9-10c-.379-.422-1.107-.422-1.486 0l-9 10a.998.998 0 0 0-.17 1.076c.16.361.518.593.913.593h2v7a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-4h4v4a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-7h2a.998.998 0 0 0 .743-1.669z" />
                </svg>
            </div>
            <div class="icon" id="source">
                <svg xmlns="http://www.w3.org/2000/svg" width="70%" viewBox="0 0 50 50">
                    <path
                        d="M25 0C11.2 0 0 11.2 0 25c0 11.1 7.6 20.6 18 23.8 1.3 0.2 1.7-0.6 1.7-1.2 0-0.6 0-2.4 0-4.5-6.5 1.4-7.8-2.7-7.8-2.7-1.1-2.7-2.6-3.4-2.6-3.4-2.1-1.4 0.2-1.4 0.2-1.4 2.3 0.2 3.6 2.4 3.6 2.4 2.1 3.6 5.5 2.6 6.8 2.0 0.2-1.5 0.8-2.6 1.5-3.2-5.2-0.6-10.7-2.6-10.7-11.5 0-2.5 0.9-4.6 2.4-6.3-0.2-0.6-1-3 0.2-6.4 0 0 2.0-0.6 6.6 2.5 1.9-0.6 4-0.9 6-0.9 2 0 4 0.3 6 0.9 4.5-3.1 6.6-2.5 6.6-2.5 1.2 3.4 0.4 5.8 0.2 6.4 1.5 1.7 2.4 3.8 2.4 6.3 0 8.9-5.6 10.9-10.8 11.5 0.8 0.7 1.6 2.1 1.6 4.4 0 3.2 0 5.8 0 6.6 0 0.6 0.4 1.4 1.7 1.2C42.4 45.6 50 36.1 50 25 50 11.2 38.8 0 25 0z"
                        fill="#d53a9d" />
                </svg>
            </div>
        </div>
    </div>
    </div>
</body>
</html>