<head>
    <script type="module" src="menu.js" defer></script>
    <link rel="stylesheet" type="text/css" href="menu.css">
</head>

<body>
    <div class="mainContainer">
        <div class="inputContainer">
            <label for="inputXpathHunt">Xpath-Console</label>
            <textarea id="inputXpathHunt" placeholder="Xpath expression..."></textarea>
        </div>
        <div class="resultsContainer">
            <label for="resultsXpathHunt">Xpath-Output</label>
            <textarea id="resultsXpathHunt" readonly></textarea>
        </div>
        <div class="iconsContainer">
            <div class="icon" id="close">
                <svg xmlns="http://www.w3.org/2000/svg" width="80%"  viewBox="0 0 50 50">

                    <line x1="10" y1="10" x2="40" y2="40" stroke="#d53a9d" stroke-width="4" />
                    <line x1="10" y1="40" x2="40" y2="10" stroke="#d53a9d" stroke-width="4" />
                </svg>
            </div>
            <div class="icon" id="settings">
                <svg xmlns="http://www.w3.org/2000/svg" width="70%"  viewBox="0 0 24 24">
                    <path fill="#d53a9d"
                        d="M12 15.5A3.5 3.5 0 0 1 8.5 12A3.5 3.5 0 0 1 12 8.5a3.5 3.5 0 0 1 3.5 3.5a3.5 3.5 0 0 1-3.5 3.5m7.43-2.53c.04-.32.07-.64.07-.97c0-.33-.03-.66-.07-1l2.11-1.63c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.31-.61-.22l-2.49 1c-.52-.39-1.06-.73-1.69-.98l-.37-2.65A.506.506 0 0 0 14 2h-4c-.25 0-.46.18-.5.42l-.37 2.65c-.63.25-1.17.59-1.69.98l-2.49-1c-.22-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64L4.57 11c-.04.34-.07.67-.07 1c0 .33.03.65.07.97l-2.11 1.66c-.19.15-.25.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1.01c.52.4 1.06.74 1.69.99l.37 2.65c.04.24.25.42.5.42h4c.25 0 .46-.18.5-.42l.37-2.65c.63-.26 1.17-.59 1.69-.99l2.49 1.01c.22.08.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.66Z" />
                </svg>
            </div>
            <div class="icon" id="source">
                <svg xmlns="http://www.w3.org/2000/svg" width="70%"  viewBox="0 0 50 50">

                    <path
                        d="M25 0C11.2 0 0 11.2 0 25c0 11.1 7.6 20.6 18 23.8 1.3 0.2 1.7-0.6 1.7-1.2 0-0.6 0-2.4 0-4.5-6.5 1.4-7.8-2.7-7.8-2.7-1.1-2.7-2.6-3.4-2.6-3.4-2.1-1.4 0.2-1.4 0.2-1.4 2.3 0.2 3.6 2.4 3.6 2.4 2.1 3.6 5.5 2.6 6.8 2.0 0.2-1.5 0.8-2.6 1.5-3.2-5.2-0.6-10.7-2.6-10.7-11.5 0-2.5 0.9-4.6 2.4-6.3-0.2-0.6-1-3 0.2-6.4 0 0 2.0-0.6 6.6 2.5 1.9-0.6 4-0.9 6-0.9 2 0 4 0.3 6 0.9 4.5-3.1 6.6-2.5 6.6-2.5 1.2 3.4 0.4 5.8 0.2 6.4 1.5 1.7 2.4 3.8 2.4 6.3 0 8.9-5.6 10.9-10.8 11.5 0.8 0.7 1.6 2.1 1.6 4.4 0 3.2 0 5.8 0 6.6 0 0.6 0.4 1.4 1.7 1.2C42.4 45.6 50 36.1 50 25 50 11.2 38.8 0 25 0z"
                        fill="#d53a9d" />
                </svg>
            </div>
        </div>
    </div>
</body>

</html>